html, * {
  margin: 0;
}

body {
  padding: 0;
  margin: 1em;
  background: #000;
  color: gray;
  font-family: InputMonoNarrow, 'helvetica neue';
  font-weight: 100;
  font-feature-settings: "ss01", "ss02", "ss03"; 
  font-size: 10px;
  /* GRID */
  display: grid;
  grid-template-columns: repeat(5, [col] 290px);
  grid-gap: 20px;
}

canvas {
  grid-column: 1 / 3;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

#ui-buttons {
  grid-area: 2/1/4/3;
  display: grid;
  grid-template-columns: 290px 290px;
  grid-gap: 20px;
}

#ui-buttons button {
  /* width: 200px; */
  background: whitesmoke;
  border: none;
  font-family: InputMonoNarrow, 'helvetica neue';
  height: 1.5em;
  border-radius: 4px;
  cursor: pointer;
}

#ui-buttons button:hover {
  background: red;
}

/* Slider Styles */

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}
input[type=range] {
}

/* Slider Styles bis hier */

.phenomena-specs {
  grid-area: 1/3/10/5;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 2.5em;
  color: whitesmoke;
}

article {
  margin-bottom: 2em;
  letter-spacing: 0.25px;
}

article h2 {
  display: inline-block;
  letter-spacing: 1px;
  margin-bottom: 0.3em;
  font-size: 1em;
  text-transform: uppercase;
}

article h3 {
  display: inline-block;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  font-size: 1em;
  border-bottom: solid 2px ;
}

article.active {
  color: whitesmoke;
}
