html, * {
  margin: 0;
  padding: 0;
}

body {
  padding: 20px 10px 0;
  margin: 1em;
  background: #000;
  color: gray;
  font-family: InputMonoNarrow, 'helvetica neue';
  font-weight: 100;
  font-feature-settings: "ss01", "ss02", "ss03"; 
  font-size: 10px;
  /* GRID */
  display: grid;
  grid-template-columns: repeat(9, [col] 120px);
  grid-template-rows: auto;
  grid-gap: 10px;
}

.phenomena-specs {
  grid-column-start: 1;
  grid-row-start: 1;
}

canvas {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-column-end: 6;
}

#ui-buttons {
  grid-column: 7/9;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

#ui-buttons {
  display: grid;
  grid-template-columns: 185px 185px;
  grid-template-rows: repeat(100, [row] 30px);
  grid-gap: 10px;
}

#ui-buttons h1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

#ui-buttons button {
  /* width: 200px; */
  background: whitesmoke;
  border: none;
  font-family: InputMonoNarrow, 'helvetica neue';
  height: 1.5em;
  border-radius: 4px;
  cursor: pointer;
}

#ui-buttons button:hover {
  background: red;
}

/* Slider Styles */

input[type=range] {
  cursor: pointer;
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}
input[type=range] {
}

label {
  text-align: right;
  /* font-weight: 300; */
}

/* Slider Styles bis hier */

h1 {
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 2.5em;
  color: whitesmoke;
}

article, label {
  letter-spacing: 0.25px;
}

article {
  margin-bottom: 2em;
}

article h2 {
  display: inline-block;
  letter-spacing: 1px;
  margin-bottom: 0.3em;
  font-size: 1em;
  text-transform: uppercase;
}

article h3 {
  display: inline-block;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  font-size: 1em;
  border-bottom: solid 2px ;
}

article.active {
  color: whitesmoke;
}
